@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  width: 60%;
  margin: 10rem auto;
  height: 570px;
}

.slide img {
  width: 15rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.7);
  transition: transform 300ms;
  /* background-color: black; */
  opacity: 0.5;
  
  /* position:absolute */
}

.activeSlide {
  transform: scale(1.0);
  opacity: 1;
  
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  margin: 0 -40px;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}
